<?xml version="1.0" encoding="UTF-8"?>
<!-- This web.xml file is not required when using Servlet 3.0 container,
     see implementation details http://jersey.java.net/nonav/documentation/latest/jax-rs.html -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>Jersey Web Application</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>jersey.config.server.provider.packages</param-name>
      <param-value>com.projet_jee.appel_d_offres</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jersey Web Application</servlet-name>
    <url-pattern>/webapi/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuthenticationServlet</display-name>
    <servlet-name>AuthenticationServlet</servlet-name>
    <servlet-class>com.projet_jee.appel_d_offres.servlet.AuthenticationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthenticationServlet</servlet-name>
    <url-pattern>/AuthenticationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PasswordModificationServlet</display-name>
    <servlet-name>PasswordModificationServlet</servlet-name>
    <servlet-class>com.projet_jee.appel_d_offres.servlet.PasswordModificationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PasswordModificationServlet</servlet-name>
    <url-pattern>/PasswordModificationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddUserFormServlet</display-name>
    <servlet-name>AddUserFormServlet</servlet-name>
    <servlet-class>com.projet_jee.appel_d_offres.servlet.AddUserFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUserFormServlet</servlet-name>
    <url-pattern>/AddUserFormServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLoginFormServlet</display-name>
    <servlet-name>UserLoginFormServlet</servlet-name>
    <servlet-class>com.projet_jee.appel_d_offres.servlet.UserLoginFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLoginFormServlet</servlet-name>
    <url-pattern>/UserLoginFormServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserSignUpFormServlet</display-name>
    <servlet-name>UserSignUpFormServlet</servlet-name>
    <servlet-class>com.projet_jee.appel_d_offres.servlet.UserSignUpFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserSignUpFormServlet</servlet-name>
    <url-pattern>/UserSignUpFormServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminServlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>com.projet_jee.appel_d_offres.servlet.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/AdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.projet_jee.appel_d_offres.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddAOFormServlet</display-name>
    <servlet-name>AddAOFormServlet</servlet-name>
    <servlet-class>com.projet_jee.appel_d_offres.servlet.AddAOFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAOFormServlet</servlet-name>
    <url-pattern>/AddAOFormServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExtendAOFormServlet</display-name>
    <servlet-name>ExtendAOFormServlet</servlet-name>
    <servlet-class>com.projet_jee.appel_d_offres.servlet.ExtendAOFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExtendAOFormServlet</servlet-name>
    <url-pattern>/ExtendAOFormServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExtendAOForm</display-name>
    <servlet-name>ExtendAOForm</servlet-name>
    <servlet-class>com.projet_jee.appel_d_offres.servlet.ExtendAOForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExtendAOForm</servlet-name>
    <url-pattern>/ExtendAOForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubmissionFormServlet</display-name>
    <servlet-name>SubmissionFormServlet</servlet-name>
    <servlet-class>com.projet_jee.appel_d_offres.servlet.SubmissionFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmissionFormServlet</servlet-name>
    <url-pattern>/SubmissionFormServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifyFinancialOffer</display-name>
    <servlet-name>ModifyFinancialOffer</servlet-name>
    <servlet-class>com.projet_jee.appel_d_offres.servlet.ModifyFinancialOffer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyFinancialOffer</servlet-name>
    <url-pattern>/ModifyFinancialOffer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WelcomeServlet</display-name>
    <servlet-name>WelcomeServlet</servlet-name>
    <servlet-class>com.projet_jee.appel_d_offres.servlet.WelcomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WelcomeServlet</servlet-name>
    <url-pattern>/WelcomeServlet</url-pattern>
  </servlet-mapping>
</web-app>